# Mac system files
.DS_Store
**/.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/
*.pyc
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Virtual environments
venv/
env/
ENV/
.env
**/.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# Project specific
data/
scratch/
logs/
*.log

# Distribution / packaging
dist/
build/
*.egg-info/
